{{set . "title" .question.Title}}
{{template "header.html" .}}

<div class="row">

	<!-->Question</!-->
	<div class="row">
		<div class="small-12 large-centered columns">
			<h3>{{.question.Title}}</h3><hr/>
			<div class="small-1 columns">
				<a href=""><img src="http://placehold.it/34x34&text=[up]" /></a>
				<h5 class="subheader">{{.question.Points}}</h5>
				<a href=""><img src="http://placehold.it/34x34&text=[down]" /></a>
			</div>
			{{.question.Body}}
			<div class="small-2 columns" align="right">
				{{range .question.Tags}}
		        <a href="question/tag/{{.}}" class="tiny button">{{.}}</a>
				{{end}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns" style="margin-top:5%; font-size:85%">
			<ul class="inline-list">
				<li><a href="">share</a></li>
				<li><a href="">edit</a></li>
				<li><a href="">flag</a></li>
			</ul>
		</div>
		<div class="small-3 large-offset-7 columns">
			<div class="panel" style="height:70px">
				<ul class="inline-list">
					<li><img src="http://placehold.it/34x34&text=[img]" /></li>
					<li><a href="">jhorvat</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-->Answer Feed</!-->
	{{if .answers}}
		<div class="row" style="margin-top:5%">
			<div class="small-12 large-centered columns">
				<h4>{{answerCount .answers}} Answers</h4>
			</div>
		</div>
		<hr/>
		{{range .answers}}
			<div class="row">
				<div class="small-12 large-centered columns">
					<div class="small-1 columns">
						<a href=""><img src="http://placehold.it/34x34&text=[up]" /></a>
						<h5 class="subheader">{{.Points}}</h5>
						<a href=""><img src="http://placehold.it/34x34&text=[down]" /></a>
					</div>
					{{.Body}}
				</div>
			</div>
			<div class="row">
				<div class="small-2 columns" style="margin-top:5%; font-size:85%">
					<ul class="inline-list">
						<li><a href="">share</a></li>
					</ul>
				</div>
				<div class="small-3 large-offset-7 columns">
					<div class="panel" style="height:70px">
						<ul class="inline-list">
							<li><img src="http://placehold.it/34x34&text=[img]" /></li>
							<li><a href="">user</a></li>
						</ul>
					</div>
				</div>
			</div>
			<hr/>
		{{end}}
	{{end}}

	<!-->Answer Form</!-->
	<hr/>
	<div class="row">
		<div class="small-12 large-centered columns">
			<form action="/question/{{bsonID .question.Id}}" name="input" method="post">
				<h3>Answer</h3>
				<div class="row">
					<div class="small-12 columns">
						<textarea name="body" id="body" rows="30"></textarea><br/>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<input type="submit" value="Answer">
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

{{template "footer.html" .}}