<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/normalize.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/vendor/custom.modernizr.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    <div class="row">
      <div class="small-12 large-centered columns">
        <div class="panel">
          <h1>Go Ask!</h1>
        </div>
      </div>
    </div>
